// Specific CSS for your home-page
#home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-header {
  display: flex;
  align-items: center;
  margin-top: -150px;
  margin-bottom: 50px;
  margin-left: -25px;
}
.logo img {
  width: 60px;
  height: 50px;
}
.logo-header h1 {
  margin-bottom: 22.5px;
}

.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 500px;
  border-radius: 8px;
  border: solid 2px $light-gray;
  box-shadow: 0 6px 8px 0 $white-grey;
  padding: 25px 30px 25px 75px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline:none;

  }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
.aa-input-icon {
  height: 23px;
  width: 23px;
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border-bottom: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
  // Changer l'aspect des suggestions de résultats
  a {
    text-decoration: none;
    color: $smooth-grey;
  }
}
.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }

.address {
  font-size: 14px;
}
.algolia-logo {
  position: absolute;
  bottom: 10px;
}
