.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-show {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-image img {
  width: 40px;
  height: 30px;
}
.logo-text h1 {
  margin-bottom: 22.5px;
  font-family: Neuton;
  font-size: 30px;
}

#menu {
  width: 950px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.restaurant-name {
  margin-top: 60px;
}

.restaurant-informations {
  margin: 0 0 50px 0;
  text-align: center;
  color: rgb(117,117,117);
  p {
    font-size: 14px;
    margin: 0 0 6px;
  }
}

.menu-title {
  margin-bottom: 50px;
  h4 {
    font-size: 16px;
  }
}
.menu-frame {
  width: 950px;
  border-radius: 10px;
  padding: 30px 60px;
  background-color: #fbfbfb;
  box-shadow: 0 10px 15px 5px #edeef5;
  margin-bottom: 160px;
}
.menu-price p {
  font-weight: 600;
}

.menu-content-lines {
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-content-line1 {
  p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
  }
}

.menu-content-line2 {
  p {
    font-weight: 600;
    margin: 8px 0;
    opacity: 0.5;
    font-size: 14px;
  }
}
