<div id="home">

<div class="main-header">
  <div class="logo">
  <%= image_tag "logo.svg", id: "logo" %>
  </div>
  <div class="logo-header">
    <h1>Meniu</h1>
  </div>
</div>

<div class="search">

</div>
</div>
