.menu-frame {
  width: 950px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px 5px #edeef5;
}

.menu-title {
  text-align: center;
  margin-top: 45px;
  h3 {
  }
  h4 {
    font-weight: 400;
  }
}

.menu-content {
  margin: 45px;
}

.menu-content-lines {
  padding-bottom: 25px;
}

.menu-content-line1 {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.menu-content-line2 {

  p {
    margin: 0;
    font-style: italic;
    opacity: 0.8;
  }
}
